<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>List of all aircrafts</h1>
    <br>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Manufacturer</th>
          <th>Model</th>
          <th>Engines</th>
          <th>Range</th>
          <th>Ceiling</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aircraft of aircrafts">
          <td>{{ aircraft.manufacturer }}</td>
          <td>{{ aircraft.model }}</td>
          <td>{{ aircraft.engines }}</td>
          <td>{{ aircraft.range }}</td>
          <td>{{ aircraft.ceiling }}</td>
          <td><a [routerLink]="['/aircraft', aircraft.id]" class="btn btn-info btn-sm">Edit</a></td>
        </tr>
      </tbody>
    </table>
    <a [routerLink]="['/aircraft/new']" class="btn btn-success float-right">Add new</a>
  </div>
</div>