<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>New aircraft</h1>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" name="manufacturer" id="manufacturer" placeholder="manufacturer" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="model" id="model" placeholder="model" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="engines" id="engines" placeholder="engines" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="range" id="range" placeholder="range" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="ceiling" id="ceiling" placeholder="ceiling" required>
      </div>
      <button class="btn btn-success float-right">Create</button>
    </form>
  </div>
</div>