<div class="row">
  <div class="col-md-6 offset-md-3 color">
    <h1>Sign In to the Aircraft DB</h1>
    <hr>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" name="email" id="email" placeholder="test@aircraftdb.com">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" id="password" placeholder="**********">
      </div>
      <input type="submit" value="Submit" class="btn btn-success">
    </form>
  </div>
</div>