<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Aircraft detail</h1>
    <div class="alert alert-info" *ngIf="!aircraft">
      Getting aircraft data...
    </div>
    <form *ngIf="aircraft" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <input type="text" ngModel="{{ aircraft.manufacturer }}" class="form-control" name="manufacturer" id="manufacturer">
      </div>
      <div class="form-group">
        <input type="text" ngModel="{{ aircraft.model }}" class="form-control" name="model" id="model">
      </div>
      <div class="form-group">
        <input type="text" ngModel="{{ aircraft.engines }}" class="form-control" name="engines" id="engines">
      </div>
      <div class="form-group">
        <input type="number" ngModel="{{ aircraft.range }}" class="form-control" name="range" id="range">
      </div>
      <div class="form-group">
        <input type="number" ngModel="{{ aircraft.ceiling }}" class="form-control" name="ceiling" id="ceiling">
      </div>
      <button type="submit" class="btn btn-warning float-right">Submit edit</button>
    </form>
    <button class="btn btn-danger" (click)="onDelete(aircraft.id)">Delete</button>
  </div>
</div>